@page "/counter"
@using EZip.Model
@using Radzen.Blazor


<button @onclick="ToggleDialog">打开模态窗口</button>

@if (showDialog)
{
    <HomeDialog OnClose="CloseDialog" currentPath="@currentPath" contents="@contents" />
}


@code {
    public string? currentPath = "12312321";

    public string[]? contents { get; set; }

    private bool showDialog = false;

    void ToggleDialog()
    {
     //    string[] contents = selectedItems
     // .Select(item => Path.Combine(currentPath, item.Content))
     // .ToArray();
        showDialog = true;
    }

    void CloseDialog() 
    { 
        showDialog = false;

        // 关闭弹窗并将选择模式关闭
        // isCompressMode = false;
        // compressButtonText = "选择压缩项目";
        // selectedItems.Clear(); // 清空之前的选择
        // CloseModal();
        // compressFileName = "";

        // LoadDirectoryItems(currentPath);

        StateHasChanged();
    }
}


